@model eKnjiznica.Data.Entities.Cart
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<h2>CheckOut</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>Product Name:@Model.Product.Name</h1>
            <h1>Product Price:@Model.price</h1>
            <h1>Product Description:@Model.qty</h1>
            <h1>Total:@Model.bill</h1>
        </div>
    </div>
</div>

@Html.ActionLink("go Back", "Index", "Products");
