@{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_LoginPartial.cshtml";
    }

        <div class="text-center">
            <h2 class="display-4">Welcome</h2>
            <a asp-controller="Account" asp-action="Index">Login</a>
        </div>

